.header{
    position: relative;
    padding-bottom: 15px;
    /*background-color: #888888;*/
    height: 53px;
    /*display: flex;*/
    align-items: center;
    color: white;
    font-weight: 600;
}
